<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Halo 5 Warzone Clan Roster</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="create-clan">Create a new Clan</a></li>
      <li><a routerLink="create-member">Register as a Member</a></li>
    </ul>
  </div>
</nav>
<div class="container main">
  <router-outlet></router-outlet>
</div>
<footer class="footer">
  <div class="container">
    <a class="text-muted" routerLink="admin">Admin</a>
  </div>
</footer>
